@import "normalize.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@/styles/index";


:root {
  --max-width: 1200px;
}

#app {
  min-width: 1200px;
  overflow: auto;
}

li,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: normal;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.viewport {
  width: var(--max-width);
  margin: 0 auto;
}

svg.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

ol,
ul,
li {
  list-style: none;
}



.abs {
  position: absolute
}
   

.rel {
  position: relative
}
    

.line--only {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
  