@import "normalize.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@/styles/index";

:root {
  --max-width: 1200px;
}

#app {
  min-width: 1200px;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  // height: 100vh;
}
body {
  scroll-behavior: smooth;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  color: #333;
  overflow: auto;
}

li,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: normal;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.viewport {
  width: var(--max-width);
  margin: 0 auto;
}

svg.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

ol,
ul,
li {
  list-style: none;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.line--only {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ja {
  font-family: "Noto Sans JP", "NotoSans", PingFang SC,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.ko {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif,
    font-extend;
}

.en {
  font-family: "OpenSans", "Roboto", "pingfang Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;

  * {
    word-break: keep-all;
  }
}
