#toggle-plat{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  line-height: 18px;
  color: #666;
  border-radius: 10px;
  border: 1px solid var(--color-primary-light);
  position: relative;
  &::after{
    content: "";
    display: flex;
    position: absolute;
    left: 50%;
    top: 10%;
    height: 80%;
    width: 1px;
    background: var(--color-primary);
    transform: scale(0.5, 0.8);
  }
  .plat-btn{
    width: 40px;
    cursor: pointer;
    line-height: 18px;
    color: #666;
    text-align: center;
  }
  .active{
      color: var(--color-primary-light);
      font-weight: 600;
    }
  
}