.createShopModal{
  .shopOption-radio{
    .radio-item-active{
      border: 1px solid var(--color-primary) !important;
    }
    .radio-item-guide{
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid #e3e3e3;
      position: relative;
      height: 44px;
      line-height: 44px;
      text-align: center;
      cursor: pointer;
      margin-right: 18px;
      width: 100px;
      color: #333333;
      font-weight: 500;
      img{
        position: absolute;
        right: 4px;
        top: 4px;
      }
    }
    

  }
  #createShopForm{
   .ant-form-item-explain-error{
      color: #e83d51;
      font-size: 12px;
    }
    .ant-input-status-error{
      border-color: #e83d51;
    }
    input{
      font-size: 14px;
      font-weight: 500;
    }
    ::-webkit-input-placeholder {
      color: #a8abb2;

    }
  }
}