.content {
  width: 500px;
  padding: 15px 10px 10px 15px;
  &.en {
    padding: 15px 5px 10px 10px;
  }
  .ant-form-item-label {
    font-weight: 600;
    width: 85px;
  }
  .ant-form-item-row {
    width: 100%;
  }
}

.el-form--inline .el-form-item {
  margin-right: 0px;
}

.second {
  margin-left: 10px;
}

.plat {
  width: 100px;
}

.cate {
  width: 125px;
}

.keyword {
  width: 320px;
}

.search-btn {
  img {
    height: 16px;
    margin-right: 6px;
  }
}
