.Kaerumedia {
  &-banner {
    height: 264px;
    background-color: var(--pcolor);
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    img {
      height: 272px;
    }
  }
  &-mainBox {
    padding-bottom: 150px;
  }
  &-main {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    &-list {
      width: 940px;
    }
    &-recom {
      width: 238px;
    }
  }
}
