.dropdown {
  display: inline-block;
  font-weight: 500;
  &.active {
    background: #f7f7f7;
  }
}

.dropdown-menu {
  z-index: 1;
  left: 100%;
  top: 0;
  border-radius: 0 0 3px 0;
  width: 200%;
  padding: 0 20px;
  color: #333;
  line-height: 1.4;
  font-size: 14px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  background: #f7f7f7;
  > div {
    width: 50%;
  }
}

.option-item {
  padding: 12px 10px;
  font-weight: 500;
  &:hover {
    color: var(--fcolor);
    background: #f7f7f7;
  }
}

.online {
  display: flex;
}