.help-artical-content{
    *{
        max-width: 100% !important;
        // overflow: hidden !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        word-break: break-all !important;
        text-indent: 0 !important;
    }
}