:root[theme='B2B'] {
    --color-primary: #2E4968;
    --color-primary-light: #1890ff;
    --color-primary-light-bg: #e5f2ef;
    --color-primary-light0-bg: #FBFFFE;
    --color-white: #fff;
    --color-bg-header: #242526;
    --color-primary-text: #303133;
    
}