:root[data-theme="B2B"] {
  --color-primary: #2e4968;
  --color-primary-light: #1890ff;
  --color-primary-light-bg: #e5f2ef;
  --color-primary-light0-bg: #fbfffe;
  --color-white: #fff;
  --color-bg-header: #242526;
  --color-primary-text: #303133;
  // footer底色
  --ftcolor: #516b88;
}
