:root[data-theme="D2C"] {
  --color-primary: #008060;
  --color-primary-light: #31c8a2;
  --color-primary-light-bg: #e5f2ef;
  --color-primary-light0-bg: #fbfffe;
  --color-white: #fff;
  --color-bg-header: #242526;
  --color-primary-text: #303133;
  // footer底色
  --ftcolor: #637571;
}
