#membershipCenter {
  border-radius: 0 !important;
  box-shadow: none;
}


.newMemberInfo{
  top: 20px;
  left: 15px;

  span{
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
    line-height: 27px;
    background: linear-gradient(180deg, #FE8300 0%, #EC5300 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .numBack{
    min-width: 20px;
    padding: 0 6px;
    height: 30px;
    background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, #FFFFFF 47%, rgba(255,255,255,0.1) 100%);

    span{
      font-size: 26px;
      font-weight: 800;
      color: #FFFFFF;
      line-height: 30px;
      background: linear-gradient(180deg, #FE8300 0%, #EC5300 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }

    .symbol{
      font-size: 12px;
      position: relative;
      bottom: -4px;;
    }
  }
}

// .hotArea{
//   height: 50px;
//   width: 260px;
//   bottom: 10px;
//   left:10px;
//   cursor: pointer;
// }

.membershipExpire{
  // background-image: url(https://static-s.theckb.com/BusinessMarket/OEM/home_tab_nonvip%402x.png);
  // background-size: 100% 100%;
  // background-repeat: no-repeat;
  // width: 300px;
  // height: 350px;
  .content{
    padding: 15px;
    .member-status{
      font-size: 20px;
      font-weight: bold;
      color: #3c3c3c;
    }
    .member-tips{
      font-size: 12px;
      font-weight: 500;
      color: #794a02;
      line-height: 18px;
      margin-top: 8px;
    }
    .explain {
      width: 100%;
      background: #ffffff;
      border-radius: 12px;
      padding: 15px;
      box-sizing: border-box;
      img {
        width: 18px;
        height: 15px;
      }

      .list {
        padding-bottom: 10px;
        display: flex;
        align-items: baseline;

        &:last-child {
          padding: 0;
        }

        .text {
          font-size: 12px;
          font-weight: 500;
          color: #794a02;
          margin-left: 10px;
          line-height: 18px;
        }
      }
    }
    .btn {
      width: 100%;
      height: 36px;
      background: #e5bf88;
      border: none !important;
      border-radius: 18px;
      font-size: 14px;
      font-weight: 500;
      color: #794a02;
      margin-top: 10px;
      &:hover{
        background: #EFD2A8;
        color: #9D702A;
      }
    }
  }
}